.App {
  padding: 24px;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  margin: 24px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ImageSection {
  margin: 64px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}